<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CityVeterinary</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CityVeterinary.styles.css" asp-append-version="true" />
    <link href="~/css/fastbootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/dataTables.dataTables.min.css">

    <link rel="stylesheet" href="~/css/dataTables.bootstrap5.css" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container-fluid p-0">
        <div class="">
            <aside class="border-0">
                <div class="sidebar-pos">
                    <div class="layout-sidebar" id="sidebar">
                        <div class="sidenav-top">
                            <div class=" py-4 text-center sidebar-divider">
                                <img src="/img/logo.png" alt="" width="40" height="40">
                            </div>
                            <div class="nav__toggle" id="side-toggle">
                                <i class='bx bx-chevron-right'></i>
                            </div>
                        </div>
                        @* Web View *@
                        <ul class="border-0 list-group px-7" style="width:30vw;">
                            <div class="mt-5" id="sideNav">
                                <a asp-area="" asp-controller="Home" asp-action="Index"
                                    class="text-decoration-none side-nav" aria-current="page">
                                    <li class="side-item sidebar-li pt-1">
                                        <i class="bx bxs-dashboard icon  me-5 mt-1"></i>
                                        <span>Dashboard</span>
                                    </li>
                                </a>
                                <a asp-area="" asp-controller="Swagger" asp-action="Index" class="text-decoration-none"
                                    aria-current="page">
                                    <li class="side-item sidebar-li pt-1">
                                        <i class="bx bxs-folder-plus icon  me-5 mt-1"></i>
                                        <span>Api</span>
                                    </li>
                                </a>
                                <a asp-asp-area="" asp-controller="Encoder" asp-action="Index"
                                    class="text-decoration-none" aria-current="page">
                                    <li class="side-item sidebar-li pt-1">
                                        <i class="bx bxs-archive icon  me-5 mt-1"></i>
                                        <span>Encoder</span>
                                    </li>
                                </a>
                            </div>
                        </ul>
                        @* Web End View *@
                    </div>
                </div>

            </aside>


            <main class="layout-main ps-2 pe-4" id="main-page">
                <div class="layout-page">
                    <nav class="navbar layout-navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <div class="openbtn mt-2" data-bs-toggle="collapse" data-bs-target="#navbarExample"
                                aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
                                <span></span><span></span><span></span>
                            </div>
                            <div class="mobile-nav-avatar">
                                <!-- bx-tada additional in boxicon to animate-->
                                <i class='bx bxs-bell-ring bx-tada text-white me-2'></i>
                                <div class="avatar avatar-online" id="mobile-avatar">
                                    <span class="avatar text-bg-secondary">OP</span>
                                </div>
                            </div>

                            <div class="collapse navbar-collapse flex-row-reverse border-bottom p-4 pb-5 mb-6"
                                id="navbarExample">
                                <!-- mobile nav -->
                                <div class="mobile-nav-space">
                                    <ul class="navbar-nav me-auto mb-0 px-5" id="mobile-nav">
                                        <a href="#" class="text-decoration-none mb-3" aria-current="page">
                                            <li class="">
                                                <i class="bx bxs-dashboard text-white me-3"></i>
                                                <span class="text-white">Dashboaasfasfrd</span>
                                            </li>
                                        </a>
                                        <a asp-controller="Swagger" asp-action="Index" class="text-decoration-none mb-3"
                                            aria-current="page">
                                            <li class="">
                                                <i class="bx bxs-folder-plus text-white me-3"></i>
                                                <span class="text-white">Api</span>
                                            </li>
                                        </a>
                                        <a href="#" class="text-decoration-none mb-3" aria-current="page">
                                            <li class="">
                                                <i class="bx bxs-folder-plus text-white me-3"></i>
                                                <span class="text-white">Classes</span>
                                            </li>
                                        </a>

                                    </ul>
                                </div>
                                <!--end mobile nav -->

                                <!-- Web notification -->
                                <div class="d-flex align-self-end flex-column flex-lg-row ">
                                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                        <a class="nav-link dropdown-toggle hide-arrow " data-bs-toggle="dropdown">
                                            <!-- bx-tada additional in boxicon to animate-->
                                            <div id="web">
                                                <i class='bx bxs-bell-ring bx-tada me-2'></i>
                                                <div class="avatar avatar-online" id="web-avatar">
                                                    <span class="avatar text-bg-secondary">OP</span>
                                                </div>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="bx bx-user me-2"></i>
                                                    <span class="align-middle">My Profile</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item " href="#">
                                                    <i class="bx bx-cog me-2"></i>
                                                    <span class="align-middle">Settings</span>
                                                </a>
                                            </li>

                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                <a class="dropdown-item logout" href="javascript:void(0);">
                                                    <i class="bx bx-power-off me-2"></i>
                                                    <span class="align-middle">Log Out</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                                <!-- End notification -->

                            </div>
                        </div>
                    </nav>
                </div>
                <!-- main content -->
                <div>
                    @RenderBody()
                </div>
                <!--end main content -->
            </main>
        </div>
        <div class="footer">
            <div class="">

            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/fastbootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
