@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Register.cshtml";
}

<div id="container" class="container pt-10">
    <div class="progress px-1" style="height: 3px;">
        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>
    <div class="step-container d-flex justify-content-between">
        <div class="step-circle">1</div>
        <div class="step-circle">2</div>
        <div class="step-circle">3</div>
        <div class="step-circle">4</div>
    </div>

    <form id="multi-step-form">

        <div class="step step-1">
            <!-- Step 1 form fields Pet -->
            <h3>Step 1</h3>
            <h4 class="text-center">ENTER YOUR INFORMATION</h4>
            <div class="row">
                <div class="col-4 mt-2">
                    <div class="form-group">
                        <label for="field" class="hidden-md">First Name</label>
                        <input type="text" class="form-control" name="inputMonth2" id="inputMonth2" aria-label="Date">
                    </div>
                </div>
                <div class="col-4 mt-2">
                    <label for="field" class="hidden-md">Middle Name</label>
                    <input type="text" class="form-control" name="inputMonth2" id="inputMonth2" aria-label="Date">
                </div>
                <div class="col-4 mt-2">
                    <label for="field" class="hidden-md">Last Name</label>
                    <input type="text" class="form-control" name="inputMonth2" id="inputMonth2" aria-label="Date">
                </div>
                <div class="col-6  mt-2">
                    <label for="field1" class="form-label">Contact Number:</label>
                    <input type="number" class="form-control contact-input" id="field1" name="field1" max="11">
                </div>
                <div class="col-6  mt-2">
                    <label for="field1" class="form-label">Baranggay</label>
                    <input type="text" class="form-control" id="field1" name="field1">
                </div>

                <div class="col-6 mt-2">
                    <div class="card-img">
                        <label for="field" class="hidden-md quantity">Pet Owner Image</label>
                        <input accept="image/*" type='file' id="imgInp" class="form-control" />
                    </div>
                </div>
                <div class="col-6">

                </div>
                <div class="col-6 mt-5">
                    <div class="form-group">
                        <img id="blah" src="/img/default_profile.png" height="350" width="350" class="imgblob" />
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary next-step mt-4">Next</button>
        </div>

        <div class="step step-2">
            <!-- Step 2 form Pet here -->
            <h3>Step 2</h3>
            <h4 class="text-center">TELL US ABOUT YOUR PET</h4>
            <div class="row">
                <div class="col-4">
                    <label for="field" class="hidden-md">Pet Name</label>
                    <input type="text" id="" name="baranggayId2" class="form-control" />
                </div>
                <div class="col-4">
                    <label for="field" class="hidden-md">Type of Pet</label>
                    <select id="labelId2" name="labelId2" class="form-select">
                        <option value="-1">Select Breed</option>
                    </select>
                </div>
                <div class="col-4">
                    <div class="form-check form-check-inline mt-8 ms-5">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1" />
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2" />
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                    </div>
                </div>
                <div class="col-4 mt-2">
                    <div class="form-group">
                        <label for="field" class="hidden-md">Date of Birth</label>
                        <input type="month" class="form-control" name="inputMonth2" id="inputMonth2" aria-label="Date">
                    </div>
                </div>
                <div class="col-4 mt-2">
                    <label for="field" class="hidden-md">Breed</label>
                    <select id="labelId2" name="labelId2" class="form-select">
                        <option value="-1">Select Breed</option>
                    </select>
                </div>
                <div class="col-4 mt-2">
                    <label for="field" class="hidden-md">Markings</label>
                    <select id="categoriesId2" name="categoriesId2" class="form-select">
                        <option value="-1">Select Markings</option>
                    </select>
                </div>

                <div class="col-6 my-4">
                    <div class="form-group">
                        <label for="field" class="hidden-md quantity">Pet Image</label>
                        <input accept="image/*" type='file' id="imgInp2" class="form-control" />
                    </div>
                </div>
                <div class="col-6">

                </div>
                <div class="col-6 mb-4">
                    <div class="form-group">
                        <img id="blah2" src="/img/petusers.png" height="350" width="350" />
                    </div>
                </div>

                <input type="hidden" name="id" id="id">
                <input type="hidden" name="quarter2" id="quarter2">
                <input type="hidden" name="month2" id="month2">
                <input type="hidden" name="addedBy2" id="addedBy2">

            </div>
            <button type="button" class="btn btn-primary prev-step ">Previous</button>
            <button type="button" class="btn btn-primary next-step">Next</button>
        </div>

        <div class="step step-3">
            <!-- Step 2 form Pet here -->
            <h3>Step 3</h3>
            <div class="col-4 mt-2 mb-5">
                <div class="form-group">
                    <label for="field" class="hidden-md">How can we help your (Name of Pet)</label>
                    <select id="categoriesId2" name="categoriesId2" class="form-select">
                        <option value="-1">Select Reason</option>
                    </select>
                </div>
            </div>

            <div class="col-8 mt-8">
                <div class="d-flex">
                    <div class="">
                        <h5>Select Date</h5>
                        <div id="calendar"> </div>
                    </div>
                    <div class="border-start time-border">
                        <div class="ms-5">
                            <h5 class="mt-2"> Time? </h5>
                            <div class="mt-10">
                                <div class="container text-center gap-4">
                                    <div class="row align-items-start gap-3">
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <button type="button" class="btn btn-primary prev-step ">Previous</button>
                <button type="button" class="btn btn-primary next-step">Next</button>
            </div>

        </div>

        <div class="step step-4">
            <!-- Step 3 form fields here -->
            <h3>Step 4</h3>

            <button type="button" class="btn btn-primary prev-step">Previous</button>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>


    </form>
</div>

@section scripts
{
    <script>


        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
            }

        }
        imgInp2.onchange = evt => {
            const [file] = imgInp2.files
            if (file) {
                blah2.src = URL.createObjectURL(file)
            }
        }

        $(function () {
            $("#calendar").datepicker();
        });
        $(document).ready(function () {


            $('.contact-input').unbind('keyup change input paste').bind('keyup change input paste', function (e) {
                var $this = $(this);
                var val = $this.val();
                var valLength = val.length;
                var maxCount = $this.attr('max');
                if (valLength > maxCount) {
                    $this.val($this.val().substring(0, maxCount));
                }
            });

            var eventDates = {};

            eventDates[new Date('12/06/2015')] = new Date('12/06/2015');
            eventDates[new Date('06/20/2015')] = new Date('06/20/2015');
            eventDates[new Date('06/25/2015')] = new Date('06/25/2015');

            // datepicker
            $('#calendar').datepicker({
                beforeShowDay: function (date) {
                    var highlight = eventDates[date];
                    if (highlight) {
                        return [true, "event", highlight];
                    } else {
                        return [true, '', ''];
                    }
                }
            });
        }); 
    </script>
}
